.logo{
  display: flex;
  align-items: center;
}

.vertical {
  .icon__horizontal,
  .icon__sign {
    display: none;
  }
  .icon__vertical {
    display: block;
  }
}
.horizontal {
  .icon__vertical,
  .icon__sign {
    display: none;
  }
  .icon__horizontal {
    display: block;
  }
}
.sign {
  .icon__horizontal,
  .icon__vertical {
    display: none;
  }
  .icon__sign {
    display: block;
  }
}

.icon__horizontal {
  height: 32px;
}

.icon__vertical{
  height: 44px;
  width: 64px;
}
.icon__sign{
  height: 40px;
}