.search__element {
  padding: 0 16px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 16px;
  height: 24px;
  width: 100%;

  &:hover {
    background-color: var(--main-color-secondary);
    color: var(--main-color-onSecondary);
    cursor: pointer;

    svg {
      color: var(--main-color-onSecondary);
    }
  }

  &:last-child {
    margin-bottom: 8px;
  }
}

.search__match {
  font-family: 'Rubik-Bold', sans-serif;
}

.search__category__img {
  width: 24px;
  height: 24px;
}
