.card {
  width: 25%;
  background-color: var(--main-color-surface);
  border-radius: 4px;
  box-shadow: var(--shadow-default-xs);
}

.card__item {
  padding: 8px;
}
.price__number,
.price__text {
  display: flex;
  justify-content: space-between;
  span {
    margin-right: 4px;
  }
}
.price__text {
  p {
    color: var(--grayScale-color-light);
  }
}
.price {
  color: var(--grayScale-color-hardest);
}
