.modal__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--main-color-primaryMuted);
}
.modal__content {
  position: relative;
  background-color: var(--main-color-surface);
  box-shadow: var(--shadow-primary-l);
  padding-top: 72px;
  min-width: 500px;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
.btn__container {
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  svg {
    color: #414141;
  }
}
