.rating {
  position: relative;
  width: 86px;
  align-items: center;
}


.star {
  display: flex;
  position: relative;
  gap: 4px;

}
.star__cover {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0px;
  right: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}
