.cart__title__inner {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.card__title__notice {
  height: fit-content;
}

.cart__btn__container{
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 16px;
}

.cart__content{
  display: flex;
  gap: 40px;
}

.cart__table{
  display: flex;
  flex-direction: column;
  gap: 24px;
}