.cart__title__inner {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.cart__title__notice {
  height: fit-content;
}

.cart__empty__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__empty__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.cart__step {
  width: 66%;
}

.cart__btns__container {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 16px;
}

.cart__btn__container {
  width: 134px;
}

.cart__checkbox {
  padding: 4px 8px;
}

.cart__content {
  display: flex;
  justify-content: space-between;
}

.cart__table {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart__panel {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart__panel__top__text {
  margin-top: 20px;
  color: var(--grayScale-color-hard);
}

.cart__panel__middle {
  padding: 24px 0;
  border-top: 2px solid var(--grayScale-color-lightest);
  border-bottom: 2px solid var(--grayScale-color-lightest);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart__panel__middle__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__panel__middle__item__text {
  color: var(--grayScale-color-hard);
}

.cart__panel__middle__item__discount {
  color: var(--main-color-primary);
}

.cart__panel__total__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__panel__total__bonus {
  display: flex;
  gap: 8px;
  padding: 4px 8px;
  align-items: center;
}

.cart__panel__total__bonus__icon {
  width: 24px;
  height: 24px;
}

.cart__panel__total__bonus__text {
  color: var(--main-color-secondary);
}

.cart__panel__tooltip .s,
.cart__delivery__item .s {
  font-size: 14px;
  white-space: nowrap;
}

.cart__panel__btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart__delivery__item {
  margin-bottom: 40px;
}

.cart__delivery__item__header {
  margin-bottom: 24px;
}

.cart__delivery__item__inputs {
  display: flex;
  gap: 40px;
}

.cart__cart__delivery__item__tooltip {
  max-width: 100px;
}

.cart__cart__delivery__item__input {
  width: max(100px, 15%);
}

.input__inner {
  width: 245px;
}

.cart__delivery__item__tabs__inner {
  flex-grow: 1;
}

.cart__delivery__item__tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  button {
    width: 100%;
    height: 40px;
    font-size: 16px;
  }
}

.cart__modal__btns {
  margin: 20px 0px;
  display: flex;
  gap: 10px;
}
