@import '../const/colors.css';
@import '../const/shadows.css';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-color-bgPage);

}

.modal__content {
  align-items: center;
  display: flex;
  gap: 15px;
  flex-direction: column;
  background-color: #f7f4f4;
  border-radius: 20px;
  padding: 30px;
  background-color: var(--main-color-surface);
  box-shadow: var(--shadow-default-s);

}

.error-header {
  color: var(--pallete-color-error);
  text-align: center;
}
