.orders__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.orders__header {
  margin-bottom: 60px;
}

.orders__main {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.orders__button__more {
  width: 193px;
  align-self: center;
}
