.vacancies__title {
  margin-bottom: 60px;
}

.vacancies__container {
  display: grid;
  row-gap: 40px;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.vacancy__item__block {
  margin-bottom: 16px;

  p + p,
  p + a {
    margin-top: 8px;
  }
}
