.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  gap: 32px;
  padding-bottom: 40px;
}

.login__form__input,
.login__button__container {
  width: 260px;
}

.container__btns {
  width: 260px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.login__btn__reset:hover {
  text-decoration: underline;
}

.login__code__input {
  width: 110px;
  input {
    -webkit-text-security: squire;
    font-family: 'Rubik-Fake', sans-serif;
    line-height: 1.5;
  }
}
