.banner {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.default {
  background-image: url('../icons/banners/general-1440.png');
}
.about {
  background-image: url('../icons/banners/about-1440.png');
}

@media (max-width: 768px) {
  
}