.order__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.order__header__left,
.order__header__right {
  display: flex;
  gap: 24px;
  align-items: center;
}

.status__button > svg {
  color: var(--main-color-surface);
}

.button__container {
  width: 200px;
}

.order__button {
  margin: 0 auto;
  margin-top: 40px;
}
