.card {
  width: 25%;
  background-color: var(--main-color-surface);
  border-radius: 4px;
  box-shadow: var(--shadow-default-xs);
}
.card__active {
  box-shadow: var(--shadow-primary-m);
}
.card__img {
  position: relative;
  display: flex;
  justify-content: center;
  img {
    object-fit: cover;
    max-width: 100%;
  }
}
