footer {
  background-color: #f9f4e2;
  background-image: url(../../assets/icons/footer/footerBG.svg);
  padding: 24px 0px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer__link__current > p {
  color: var(--main-color-primary);
}

.footer__navigate__link {
  transition: all 0.2s;

  &:hover {
    color: var(--main-color-primary);
  }
}

.footer__right {
  display: flex;
  gap: 40px;
}

.footer__social {
  display: flex;
  gap: 16px;
}
