.card__table {
  display: flex;
  gap: 16px;
  width: 100%;
}

.card__left {
  display: flex;
  gap: 8px;
  padding: 8px 0px;
}

.card__right{
  display: flex;
  gap: 16px;
}

.card__img__container {
  position: relative;
}

.card__img {
  width: 80px;
  height: 60px;
  border-radius: 4px;
  box-shadow: var(--shadow-default-xs);
  /* object-fit: cover; */
}
