.header__container {
  box-shadow: var(--shadow-default-s);
  position: relative;
  z-index: 20;
  width: 100%;
  margin-bottom: 4px;
  padding: 0 116px;
  background-color: var(--main-color-surface);
}

header {
  max-height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  gap: 16px;
}

.header__right {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__link__current {
  * {
    color: var(--main-color-primary);
    fill: var(--main-color-primary);
    transition: 0.2s;
  }
}

.header__logo {
  margin-right: 26px;
}

.button__container {
  width: 140px;
}

.menu__open {
  display: inline-block;
}

.menu__container {
  position: absolute;
  top: 57%;
  left: 0;
  height: 30px;
  width: 100vw;
}

.search__inner {
  width: 375px;
  position: relative;
}

.button__container {
  width: 157px;
  height: fit-content;
}
