@import './colors.css';

:root {
  --shadow-default-xs: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
  --shadow-default-s: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-default-m: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  --shadow-default-l: 8px 16px 32px 0 rgba(0, 0, 0, 0.1);
  --shadow-default-xl: 16px 32px 64px 0 rgba(0, 0, 0, 0.1);

  --shadow-primary-xs: 1px 2px 4px 0 rgba(255, 102, 51, 0.2);
  --shadow-primary-s: 2px 4px 8px 0 rgba(255, 102, 51, 0.2);
  --shadow-primary-m: 4px 8px 16px 0 rgba(255, 102, 51, 0.2);
  --shadow-primary-l: 8px 16px 32px 0 rgba(255, 102, 51, 0.2);
  --shadow-primary-xl: 16px 32px 64px 0 rgba(255, 102, 51, 0.2);

  --shadow-secondary-xs: 1px 2px 4px 0 rgba(112, 192, 91, 0.2);
  --shadow-secondary-s: 2px 4px 8px 0 rgba(112, 192, 91, 0.2);
  --shadow-secondary-m: 4px 8px 16px 0 rgba(112, 192, 91, 0.2);
  --shadow-secondary-l: 8px 16px 32px 0 rgba(112, 192, 91, 0.2);
  --shadow-secondary-xl: 16px 32px 64px 0 rgba(112, 192, 91, 0.2);
}
