.calendar__container {
  min-width: 18rem;
  padding: 0.5rem;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  h3 {
    width: 50%;
    user-select: none;
    cursor: pointer;
  }
}
.calendar__header__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
.container__btn {
  width: 32px;
}

.calendar__week__names {
  height: 27px;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 16px;
  margin-bottom: 16px;
}
.calendar__days {
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 3fr);
  grid-template-rows: 1fr;
  row-gap: 16px;
  column-gap: 16px;
}
.calendar__day {
  color: var(--grayScale-color-hard);
  cursor: pointer;
  position: relative;
  z-index: 101;
}
.calendar__day:hover {
  color: var(--main-color-onPrimary);
  z-index: 101;

  &::after {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    z-index: -100;
    border-radius: 50%;
    background-color: var(--main-color-primaryMuted);
  }
}
.calendar__additional__item {
  color: #c2c2c2;
  pointer-events: none;
}
.calendar__selected__item {
  color: var(--main-color-onPrimary);
  pointer-events: none;
  &::after {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    z-index: -100;
    border-radius: 50%;
    background-color: var(--main-color-primary);
  }
}

.calendar__pick__item {
  padding: 9px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.calendar__pick__item:hover {
  background-color: var(--main-color-primaryMuted);
  color: var(--main-color-onPrimary);
}
.calendar__pick__item__selected {
  background-color: var(--main-color-primary);
  color: var(--main-color-onPrimary);
  &:hover {
    background-color: var(--main-color-primary);
    color: var(--main-color-onPrimary);
  }
}
.calendar__pick__item__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  gap: 1px 1px;
}
.calendar__unchoosable__year {
  color: #c2c2c2;
  pointer-events: none;
}
